body {
  font-family: "Open Sans", sans-serif !important;
  background: #f7f7f7;
}

.container {
  margin: 20vh auto;

  width: 400px;

  background: #ffff;

  padding: 52px;

  box-sizing: border-box;

  border-radius: 16px;

  display: flex;
}

.container > p {
  margin: 12px 16px 12px 0px;
}

.last {
  width: 320px;
  height: 100%;

  position: relative;
}

.info-container {
  position: absolute;

  margin-top: 6px;
  z-index: 1;

  background-color: #f7f7f7;
  box-sizing: border-box;

  width: 320px;
  height: 399px;

  border-radius: 16px;

  padding: 16px 24px 0px 24px;
}

.close {
  position: absolute;
  top: 23px;
  right: 16px;
  width: 10px;
  cursor: pointer;
  z-index: 10 !important;
}

.arrow-next {
  width: 10px;
  transform: rotate(90deg);
  margin: 0 8px;
}

.info-container p {
  color: #131313;
  font-size: 12px;
  margin: 0 auto;
}

.info-container strong {
  color: #131313;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;

  display: flex;
  align-items: center;
}

.DayPicker {
  padding-top: 100px;
  margin-top: -60px;
}

.CalendarDay__default {
  border: none;
}

.CalendarDay {
  border-radius: 20%;
}

.CalendarDay__selected {
  background: #b59403;
  color: white;
}

.CalendarDay__selected:hover {
  background: #f9cb04;
  color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span,
.CalendarDay__selected_span,
.CalendarDay__selected_span:hover {
  background: #f9cb04;
}

.CalendarMonth,
.DayPicker__horizontal {
  background: transparent;
}

.DayPicker__horizontal {
  box-shadow: 0px 4px 24px #1313131a;
  border: 1px solid #ededed;
  border-radius: 16px;
}

.CalendarMonthGrid {
  background: none;
}

.DateRangePicker_picker {
  border-radius: 16px;
  background: linear-gradient(
    0deg,
    #f7f7f7 0%,
    #f7f7f7 50%,
    rgba(247, 247, 247, 0) 100%
  );
}

.DateInput_fang > path {
  display: none;
}

.CalendarDay {
  width: 32px !important;
  height: 28px !important;
}

.CalendarMonth_table {
  border-spacing: 6px 8px !important;
  border-collapse: unset;
}

.DayPicker_weekHeader {
  padding: 0px 16px !important;
}

.DayPicker_weekHeader_li {
  width: 38px !important;
}

.button {
  position: absolute;
  top: 29px;

  height: 12px;
  width: 12px;
}

.next {
  right: 22px;

  transform: rotate(90deg);
}

.prev {
  left: 22px;

  transform: rotate(-90deg);
}
